

body {
    background-color: #000;
    color: #fff;
    font: normal 16px 'Jost', sans-serif;
    text-align: center;
}

.wrapper {
    border: 2px solid red;
    margin: auto;
    width: 100%;
}

a {
    color: aquamarine;
    font-size: 1em;
}

/**Header**/

h1 {
    font-size: 3.125em;    
}

video {
    width: 340px;
    height: 680px;
}

/**Main**/

.travel-guide h2 {
    font-weight: 300;
    font-size: 2.625em;
}

.travel-guide p {
    font-size: 1.3125em;
    color: #808080;
}

.travel-guide img {
    width: 100%;
    max-width: 680px;
    height: auto;
}

/**Footer**/

footer{
    text-align: right;
}